# Prod

PUBLIC_SYNC_CONVEX_URL=
RESEND_API_KEY=
API_KEY=  # Add your API key to the Environment Variables in the Convex dashboard.


# Dev

CONVEX_DEPLOYMENT=
CONVEX_SYNC_CLOUD_URL=
CONVEX_SYNC_SITE_URL=