# Prod

API_KEY=  # Add your API key to the Environment Variables in the Convex dashboard.
PUBLIC_SYNC_CONVEX_URL=
RESEND_API_KEY=


# Dev

CONVEX_DEPLOYMENT=

CONVEX_URL=
CONVEX_SITE_URL=

CONVEX_SYNC_CLOUD_URL=
CONVEX_SYNC_SITE_URL=
