# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=
RESEND_API_KEY=


PUBLIC_SYNC_CONVEX_URL=
CONVEX_SYNC_CLOUD_URL=
CONVEX_SYNC_SITE_URL=
API_KEY=  # Add your API key to the Environment Variables in the Convex dashboard.