# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:expert-gnu-304 # team: oddinpay, project: oddinpay

PUBLIC_CONVEX_URL=https://expert-gnu-304.convex.cloud

PUBLIC_CONVEX_SITE_URL=https://expert-gnu-304.convex.site
